.banner {
    justify-content: center;
    height: 80vh;
    background-image: url('/home/img/banner.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    position: relative;
}

.banner .row {
    color: var(--white);
    z-index: 10;
}

.banner h1,
.banner p {
    text-align: center;
}

.banner.section .row.flex-col.center {
    gap: 0;
}

.banner .overlay {
    opacity: 0.8;
}

.section ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.section li {
    font-size: 20px;
}

.section li::marker {
    color: var(--primary);
}

.section.service .row img {
    max-width: 300px;
}

.section.service .row .col.large {
    flex: 2 0;
}

.section.service .row .col.small {
    flex: 1 0;
}

@media (max-width: 560px) {
    .section.service .row .col.large,
    .section.service .row .col.small {
        flex: 1 0 100%;
    }

    .section .reverse-sm {
        flex-flow: wrap-reverse;
    }
}