.banner {
    justify-content: center;
    height: 80vh;
    background-image: url('/home/img/banner.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}

.banner .row {
    color: var(--white);
    z-index: 10;
}

.banner h1,
.banner p {
    text-align: center;
}

.banner.section .row.flex-col.center {
    gap: 0;
}

.banner .overlay {
    opacity: 0.8;
}

.banner .btn:not(.ghost) {
    background-color: var(--secondary);
    border: 1px solid var(--secondary);
}

.intro.section p {
    text-align: center;
}

.intro.section .divider {
    margin-top: 40px;
}

.program-wrapper {
    margin-top: 20px;
}

.program-wrapper .item {
    position: relative;
}

.program-wrapper .item:hover .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: var(--transition);
}

.program-wrapper .item .overlay {
    display: none;
}

.program-wrapper .item:hover .overlay {
    display: block;
    transition: var(--transition);
}

.program-wrapper .item .content {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 20px;
    z-index: 10;
}

.program-wrapper .item .content h5,
.program-wrapper .item .content a {
    color: var(--white);
}

.program-wrapper .item .content h5 {
    font-size: 32px;
    font-weight: 700;
}

.program-wrapper .item .content a {
    font-size: 20px;
}

.program-wrapper .item .overlay {
    z-index: 5;
    border-radius: var(--borderRadius);
}

.program-wrapper .item img {
    border-radius: var(--borderRadius);
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

@media (max-width: 560px) {
    .banner {
        height: fit-content;
    }

    .banner h1,
    .banner p {
        width: 100%;
    }
}